body{
    background-color: white;
}

container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    height:300px;
}

section {
    width:33%;
}

h1{

}

h2{

}

h3{

}


img {
    width:100px;
}

.education{
    background-color:gray;
    order: 0;

}

.travel {
    background-color: blue;
    order: 1;

}

.fun {
    background-color:red;
    order:2;

}
